body {
	padding: 0;
	margin: 0;
}

.wrapper-flex {
	display: flex;
}

.wrapper-align-start {
	align-items: flex-start;
}

.wrapper-align-center {
	align-items: center;
}

.justify-content-between {
	justify-content: space-between;
}

.wrapper-bill {
	max-width: 320px;
	margin: 0 auto;
	background: #fff;
	line-height: 1.4;
	font-size: 100%;
	padding: 15px;
	width: 100%;
	
	.wrapper-info {
		.wrapper-right {
			width: 70%;
			padding-left: 10px;
			
			.wrapper-title {
				font-weight: bold;
				color: #222;
				font-size: .9rem;
				margin-bottom: .2rem;
				text-align: right;
			}
			
			ul {
				padding-left: 0;
				margin-bottom: 0;
				margin-top: 0;
				list-style: none;
				
				li {
					margin-bottom: .2rem;
					font-size: .8rem;
					color: #333;
					text-align: right;
				}
			}
		}
		
		.wrapper-left {
			width: 30%;
			padding-right: 10px;
			
			img {
				height: 40px;
			}
		}
	}
	
	.wrapper-body {
		padding: 30px 0 0;
		
		.h3-wrapper-title {
			font-weight: bold;
			font-size: 1.8rem;
			color: #222;
			margin-bottom: 1rem;
			text-align: center;
		}
		
		.wrapper-left {
			width: 50%;
			
			.wrapper-title {
				font-size: .8rem;
				margin-bottom: .2rem;
				font-weight: bold;
				color: #444;
			}
			
			ul {
				padding-left: 0;
				margin-bottom: 0;
				margin-top: 0;
				list-style: none;
				
				li {
					margin-bottom: .2rem;
					font-size: .8rem;
					color: #333;
				}
			}
		}
		
		.wrapper-right {
			width: 50%;
			
			ul {
				padding-left: 0;
				margin-bottom: 0;
				margin-top: 0;
				list-style: none;
				
				li {
					margin-bottom: .2rem;
					font-size: .8rem;
					color: #333;
					text-align: right;
				}
			}
		}
		
		.wrapper-service {
			padding: 30px 0 0;
			
			.service-title {
				font-weight: bold;
				color: #000;
				font-size: .95rem;
			}
			
			.service-name {
				width: 55%;
				font-size: .8rem;
				color: #323232;
				text-align: left;
			}
			
			.service-quantity {
				width: 25%;
				font-size: .8rem;
				color: #323232;
				text-align: center;
			}
			
			.service-price {
				width: 20%;
				font-size: .8rem;
				color: #323232;
				text-align: center;
			}
		}
		
		.wrapper-row {
			padding: .6rem 0;
			border-bottom: 1px solid #f1f1f1;
		}
		
		.wrapper-total {
			padding: 20px 0 0;
			font-size: .8rem;
			color: #323232;
			
			.total-text {
				width: 60%;
				padding-right: 10px;
				text-align: left;
			}
			
			.total-value {
				width: 40%;
				padding-left: 10px;
				text-align: right;
			}
		}
		
		.wrapper-grandtotal {
			padding: 15px 0;
			font-weight: bold;
			font-size: 1.1rem;
			color: #232323;
		}
	}
	
	.wrapper-footer {
		text-align: center;
		font-size: .95rem;
	}
}