@import 'layout';
@import 'modal';

.action-button {
	font-size: .85rem;
	background: $process-hover;
	color: #fff;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	box-shadow: none !important;
	outline: none !important;
	transition: .3s all ease;
	line-height: 34px;
	height: 34px;
	
	&:hover,
	&:focus {
		background: $process-color;
		color: $white-color;
	}
}

.action-payment {
	font-size: .85rem;
	background: $red-color;
	color: #fff;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	box-shadow: none !important;
	outline: none !important;
	transition: .3s all ease;
	line-height: 34px;
	height: 34px;
	
	&:hover,
	&:focus {
		background: $red-hover;
		color: $white-color;
	}
	
	&.active-button {
		background: $active-button;
		
		&:hover,
		&:focus {
			background: $active-button-hover;
		}
	}
}

.action-success {
	font-size: .85rem;
	background: $success-color;
	color: #fff;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	box-shadow: none !important;
	outline: none !important;
	transition: .3s all ease;
	line-height: 34px;
	height: 34px;
	
	&:hover,
	&:focus {
		background: $success-hover;
		color: $white-color;
	}
}

.action-edit {
	line-height: 34px;
	height: 34px;
	font-size: .85rem;
	background: $blue-color;
	color: #fff;
	min-width: 60%;
	text-align: center;
	display: inline-block;
	border: 0;
	box-shadow: none !important;
	outline: none !important;
	
	&:hover,
	&:focus {
		background: $blue-hover;
		color: $white-color;
	}
}

.action-add {
	line-height: 34px;
	height: 34px;
	font-size: .85rem;
	background: $add-color;
	color: #fff;
	min-width: 60%;
	text-align: center;
	display: inline-block;
	border: 0;
	box-shadow: none !important;
	outline: none !important;
	
	&:hover,
	&:focus {
		background: $add-hover;
		color: $white-color;
	}
}

.action-noadd {
	font-size: .85rem;
	background: $red-color;
	color: #fff;
	min-width: 60%;
	text-align: center;
	display: inline-block;
	border: 0;
	box-shadow: none !important;
	outline: none !important;
	line-height: 34px;
	height: 34px;
	
	&:hover,
	&:focus {
		background: $red-hover;
		color: $white-color;
	}
}

.action-undo {
	line-height: 34px;
	height: 34px;
	font-size: .85rem;
	background: $red-color;
	color: #fff;
	min-width: 60%;
	text-align: center;
	display: inline-block;
	border: 0;
	box-shadow: none !important;
	outline: none !important;
	
	&:hover,
	&:focus {
		background: $red-hover;
		color: $white-color;
	}
}

.screen-main {
	font-size: 1rem;
	height: 100vh;
	
	.screen-header {
		height: 65px;
		background-color: $header-color;
		
		.screen-logo {
			a {
				img {
					width: 110px;
				}
			}
		}
		
		.screen-time {
			padding: 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: $white-color;
			
			.time-top {
				font-weight: bold;
				margin-bottom: .2rem;
				font-size: .95rem;
			}
			
			.time-bottom {
				font-size: .8rem;
			}
		}
		
		.screen-customer {
			a {
				display: inline-block;
				border: none;
				color: $white-color;
				height: 34px;
				line-height: 34px;
				-webkit-transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
				-ms-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
				padding: 0 15px;
				font-size: .8rem;
				background: $blue-color;
				
				&:hover,
				&:focus {
					background: $blue-hover;
				}
			}
		}
	}
	
	.screen-inner {
		height: calc(100% - 135px);
		
		> .container-fluid {
			padding: 0;
		}
		
		.screen-overflow {
			&::-webkit-scrollbar {
				width: 5px;
			}
			
			&::-webkit-scrollbar-track {
				background: #d1d1d1;
			}
			
			&::-webkit-scrollbar-thumb {
				background: #888;
			}
			
			&::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		}
		
		.screen-service {
			background: $white-color;
			font-size: .9rem;
			border-right: 1px solid #d1d1d1;
			border-bottom: 1px solid #d1d1d1;
			
			.service-ticket {
				background: #f6f6ff;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #d1d1d1;
				
				&.ticket-title {
					text-transform: capitalize;
					color: $black-color;
					height: 2.5rem;
					font-size: .90rem;
				}
				
				[class*=col] {
					text-align: center;
				}
				
				.col-ticket {
					padding-left: 10px;
					padding-right: 10px;
				}
				
				.col-id {
					width: 8%;
				}
				
				.col-customer {
					width: 22%;
				}
				
				.col-service {
					width: 20%;
				}
				
				.col-staff {
					width: 20%;
				}
				
				.col-status {
					width: 14%;
				}
				
				.col-action {
					width: 17%;
				}
			}
			
			.ticket-row {
				max-height: calc(100vh - 125px - 2.5rem);
				overflow-y: scroll;
				
				&::-webkit-scrollbar {
					width: 5px;
				}
				
				&::-webkit-scrollbar-track {
					background: #d1d1d1;
				}
				
				&::-webkit-scrollbar-thumb {
					background: #888;
				}
				
				&::-webkit-scrollbar-thumb:hover {
					background: #555;
				}
				
				.ticket-item {
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: .85rem;
					transition: .3s all ease;
					padding: .3rem 0;
					
					&:hover {
						background: #f6f6ff;
					}
					
					[class*=col] {
						text-align: center;
					}
					
					.col-id {
						width: 8%;
					}
					
					.col-customer {
						width: 22%;
					}
					
					.col-service {
						width: 20%;
						
						.service-name {
							margin-bottom: .4rem;
						}
						
						.service-price {
							input.form-control {
								height: 34px;
								line-height: 34px;
								font-size: .8rem;
								box-shadow: none !important;
								transition: .3s all ease;
								outline: none !important;
								background-color: #fff;
								color: #000;
								max-width: 80px;
								margin: 0 auto;
								text-align: center;
								padding-left: 5px;
								padding-right: 5px;
								
								&:focus,
								&:visited,
								&:focus-within {
									border-color: $main-color;
								}
							}
						}
					}
					
					.col-staff {
						width: 20%;
						
						.service-staff {
							select.form-control {
								height: 34px;
								line-height: 34px;
								font-size: .8rem;
								box-shadow: none !important;
								transition: .3s all ease;
								outline: none !important;
								appearance: none;
								-webkit-appearance: none;
								-moz-appearance: none;
								-ms-appearance: none;
								-o-appearance: none;
								background: url(../icon/icon-select.png) no-repeat right 10px center;
								padding-top: 0;
								padding-bottom: 0;
								padding-right: 25px;
								padding-left: 10px;
								background-color: #fff;
								color: #000;
								
								&:focus,
								&:visited,
								&:focus-within {
									border-color: $main-color;
								}
							}
						}
					}
					
					.col-status {
						width: 14%;
						
						.status-finish {
							height: 24px;
							line-height: 24px;
							font-size: .85rem;
							background: $success-color;
							color: $white-color;
							display: inline-block;
							min-width: 75%;
						}
						
						.status-process {
							height: 24px;
							line-height: 24px;
							font-size: .85rem;
							background: $process-color;
							color: $white-color;
							display: inline-block;
							min-width: 75%;
						}
					}
					
					.col-action {
						width: 17%;
						
						.action-add {
							height: 24px;
							line-height: 24px;
						}
						
						.action-noadd {
							line-height: 24px;
							height: 24px;
						}
					}
				}
			}
		}
		
		.screen-order {
			font-size: 100%;
			
			.row-order {
				.title-order {
					height: 2.5rem;
					font-size: .9rem;
					font-weight: bold;
					color: $black-color;
					display: flex;
					align-items: center;
					justify-content: center;
					border-bottom: 1px solid #d1d1d1;
					background: #f6f6ff;
				}
				
				.list-order {
					ul {
						max-height: calc(62px * 3.05);
						overflow-y: scroll;
						
						&::-webkit-scrollbar {
							width: 5px;
						}
						
						&::-webkit-scrollbar-track {
							background: #d1d1d1;
						}
						
						&::-webkit-scrollbar-thumb {
							background: #888;
						}
						
						&::-webkit-scrollbar-thumb:hover {
							background: #555;
						}
						
						li {
							.order-item {
								display: flex;
								align-items: center;
								justify-content: space-between;
								padding: .5rem;
								position: relative;
								overflow: hidden;
								border-bottom: 1px solid #d1d1d1;
								
								.order-col-left {
									width: 50%;
									
									.order-row-service {
										font-weight: bold;
										font-size: .85rem;
										margin-bottom: .42rem;
									}
									
									.order-row-staff {
										font-size: .8rem;
										color: #676767;
									}
								}
								
								.order-col-middle {
									width: 30%;
									text-align: right;
									padding: 0 15px;
									
									.order-row-price {
										font-weight: bold;
										font-size: .85rem;
										margin-bottom: .2rem;
									}
									
									.order-row-tip {
										.action-add {
											line-height: 24px;
											height: 24px;
											font-size: 0.85rem;
											min-width: 80%;
										}
									}
								}
								
								.order-col-right {
									width: 20%;
									text-align: center;
									
									.action-undo {
										line-height: 24px;
										height: 24px;
										font-size: 0.85rem;
										min-width: 80%;
									}
								}
							}
						}
					}
				}
			}
			
			.row-fixed {
				position: fixed;
				bottom: 60px;
				right: 0;
				width: 33.333333%;
			}
			
			.row-total {
				background: #fff;
				border-top: 1px solid #d1d1d1;
				
				> [class*=total] {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					
					p {
						text-align: right;
						margin-bottom: 0;
						font-size: .95rem;
						padding: .35rem .8rem;
						
						&:first-of-type {
							width: 60%;
						}
						
						&:last-of-type {
							font-weight: bold;
							width: 40%;
						}
					}
				}
				
				.total-due {
					font-weight: bold;
					margin-top: .3rem;
					border-top: 1px solid #000;
					
					p {
						padding: .7rem 1rem;
						font-size: 1rem;
					}
				}
			}
			
			.row-button {
				.button-inner {
					.button-item {
						width: 50%;
						border: 1px solid #d1d1d1;
						
						.action-button {
							width: 100%;
							height: 60px;
							line-height: 60px;
							font-size: 1.05rem;
						}
					}
				}
			}
		}
	}
	
	.screen-footer {
		height: 60px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		
		* {
			height: 100%;
		}
		
		.action-success {
			width: 100%;
			border-right: 1px solid #d1d1d1;
			font-size: 1.1rem;
			
			&.no-border {
				border-right: 0;
			}
		}
		
		.row-button {
			height: 100%;
			
			.button-payment {
				height: 100%;
				
				.button-item {
					height: 100%;
					width: 100%;
					
					.action-payment {
						width: 100%;
						height: 100%;
						font-size: 1.1rem;
					}
				}
			}
		}
	}
}


@media screen and (min-width: 1367px) {
	.screen-main {
		.screen-header {
			height: calc(65px * 1.13);
			
			.screen-logo {
				a {
					img {
						width: calc(120px * 1.13);
					}
				}
			}
			
			.screen-time {
				padding: calc(10px * 1.13) 0;
				
				.time-top {
					margin-bottom: calc(0.2rem * 1.13);
					font-size: calc(0.95rem * 1.13);
				}
				
				.time-bottom {
					font-size: calc(0.8rem * 1.13);
				}
			}
			
			.screen-customer {
				a {
					height: calc(34px * 1.13);
					line-height: calc(34px * 1.13);
					padding: 0 calc(15px * 1.13);
					font-size: calc(0.8rem * 1.13);
				}
			}
		}
		
		.screen-inner {
			.screen-overflow {
				&::-webkit-scrollbar {
					width: calc(5px * 1.13);
				}
			}
			
			.screen-service {
				.service-ticket {
					&.ticket-title {
						font-size: calc(.9rem * 1.13);
						height: calc(2.2rem * 1.13);
					}
				}
				
				.ticket-row {
					max-height: calc(100vh - 125px - 2.5rem * 1.13);
					
					&::-webkit-scrollbar {
						width: calc(5px * 1.13);
					}
					
					.ticket-item {
						font-size: calc(.85rem * 1.13);
						padding: calc(.3rem * 1.13) 0;
						
						.col-service {
							.service-name {
								margin-bottom: calc(0.4rem * 1.13);
							}
							
							.service-price {
								input.form-control {
									height: calc(34px * 1.13);
									line-height: calc(34px * 1.13);
									font-size: calc(.8rem * 1.13);
									padding-left: calc(5px * 1.13);
									padding-right: calc(5px * 1.13);
									max-width: calc(80px * 1.13);
								}
								
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									height: calc(34px * 1.13);
									line-height: calc(34px * 1.13);
									font-size: calc(.8rem * 1.13);
									padding-left: calc(10px * 1.13);
									padding-right: calc(25px * 1.13);
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								height: calc(24px * 1.13);
								line-height: calc(24px * 1.13);
								font-size: calc(.85rem * 1.13);
							}
						}
						
						.col-action {
							.action-add,
							.action-noadd {
								height: calc(24px * 1.13);
								line-height: calc(24px * 1.13);
								font-size: calc(.85rem * 1.13);
							}
						}
					}
				}
			}
			
			.screen-order {
				.row-order {
					.title-order {
						height: calc(2.2rem * 1.13);
						font-size: calc(0.9rem * 1.13);
					}
					
					.list-order {
						ul {
							max-height: calc(61px * 3.05 * 1.13);
							
							&::-webkit-scrollbar {
								width: calc(5px * 1.13);
							}
							
							li {
								.order-item {
									padding: calc(0.5rem * 1.13);
									
									.order-col-left {
										.order-row-service {
											font-size: calc(0.85rem * 1.13);
											margin-bottom: calc(0.42rem * 1.13);
										}
										
										.order-row-staff {
											font-size: calc(0.8rem * 1.13);
										}
									}
									
									.order-col-middle {
										padding: 0 calc(15px * 1.13);
										
										.order-row-price {
											font-size: calc(0.85rem * 1.13);
											margin-bottom: calc(0.2rem * 1.13);
										}
										
										.order-row-tip {
											.action-add {
												line-height: calc(24px * 1.13);
												height: calc(24px * 1.13);
												font-size: calc(0.85rem * 1.13);
											}
										}
									}
									
									.order-col-right {
										.action-undo {
											line-height: calc(24px * 1.13);
											height: calc(24px * 1.13);
											font-size: calc(0.85rem * 1.13);
										}
									}
								}
							}
						}
					}
				}
				
				.row-fixed {
					bottom: calc(60px * 1.13);
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: calc(0.95rem * 1.13);
							padding: calc(0.35rem * 1.13) calc(0.8rem * 1.13);
						}
					}
					
					.total-due {
						margin-top: calc(0.3rem * 1.13);
						
						p {
							font-size: calc(1rem * 1.13);
							padding: calc(0.7rem * 1.13) calc(1rem * 1.13);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							.action-button {
								height: calc(60px * 1.13);
								line-height: calc(60px * 1.13);
								font-size: calc(1.05rem * 1.13);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			height: calc(60px * 1.13);
			
			.action-success {
				font-size: calc(1.1rem * 1.13);
			}
			
			.row-button {
				.button-payment {
					.button-item {
						.action-payment {
							font-size: calc(1.1rem * 1.13);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1518px) {
	.screen-main {
		.screen-header {
			height: calc(65px * 1.275);
			
			.screen-logo {
				a {
					img {
						width: calc(120px * 1.275);
					}
				}
			}
			
			.screen-time {
				padding: calc(10px * 1.275) 0;
				
				.time-top {
					margin-bottom: calc(0.2rem * 1.275);
					font-size: calc(0.95rem * 1.275);
				}
				
				.time-bottom {
					font-size: calc(0.8rem * 1.275);
				}
			}
			
			.screen-customer {
				a {
					height: calc(34px * 1.275);
					line-height: calc(34px * 1.275);
					padding: 0 calc(15px * 1.275);
					font-size: calc(0.8rem * 1.275);
				}
			}
		}
		
		.screen-inner {
			.screen-overflow {
				&::-webkit-scrollbar {
					width: calc(5px * 1.275);
				}
			}
			
			.screen-service {
				.service-ticket {
					&.ticket-title {
						font-size: calc(.9rem * 1.275);
						height: calc(2.2rem * 1.275);
					}
				}
				
				.ticket-row {
					max-height: calc(100vh - 125px - 2.5rem * 1.275);
					
					&::-webkit-scrollbar {
						width: calc(5px * 1.275);
					}
					
					.ticket-item {
						font-size: calc(.85rem * 1.275);
						padding: calc(.3rem * 1.275) 0;
						
						.col-service {
							.service-name {
								margin-bottom: calc(0.4rem * 1.275);
							}
							
							.service-price {
								input.form-control {
									height: calc(34px * 1.275);
									line-height: calc(34px * 1.275);
									font-size: calc(.8rem * 1.275);
									padding-left: calc(5px * 1.275);
									padding-right: calc(5px * 1.275);
									max-width: calc(80px * 1.275);
								}
								
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									height: calc(34px * 1.275);
									line-height: calc(34px * 1.275);
									font-size: calc(.8rem * 1.275);
									padding-left: calc(10px * 1.275);
									padding-right: calc(25px * 1.275);
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								height: calc(24px * 1.275);
								line-height: calc(24px * 1.275);
								font-size: calc(.85rem * 1.275);
							}
						}
						
						.col-action {
							.action-add,
							.action-noadd {
								height: calc(24px * 1.275);
								line-height: calc(24px * 1.275);
								font-size: calc(.85rem * 1.275);
							}
						}
					}
				}
			}
			
			.screen-order {
				.row-order {
					.title-order {
						height: calc(2.2rem * 1.275);
						font-size: calc(0.9rem * 1.275);
					}
					
					.list-order {
						ul {
							max-height: calc(61px * 3.05 * 1.275);
							
							&::-webkit-scrollbar {
								width: calc(5px * 1.275);
							}
							
							li {
								.order-item {
									padding: calc(0.5rem * 1.275);
									
									.order-col-left {
										.order-row-service {
											font-size: calc(0.85rem * 1.275);
											margin-bottom: calc(0.42rem * 1.275);
										}
										
										.order-row-staff {
											font-size: calc(0.8rem * 1.275);
										}
									}
									
									.order-col-middle {
										padding: 0 calc(15px * 1.275);
										
										.order-row-price {
											font-size: calc(0.85rem * 1.275);
											margin-bottom: calc(0.2rem * 1.275);
										}
										
										.order-row-tip {
											.action-add {
												line-height: calc(24px * 1.275);
												height: calc(24px * 1.275);
												font-size: calc(0.85rem * 1.275);
											}
										}
									}
									
									.order-col-right {
										.action-undo {
											line-height: calc(24px * 1.275);
											height: calc(24px * 1.275);
											font-size: calc(0.85rem * 1.275);
										}
									}
								}
							}
						}
					}
				}
				
				.row-fixed {
					bottom: calc(60px * 1.275);
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: calc(0.95rem * 1.275);
							padding: calc(0.35rem * 1.275) calc(0.8rem * 1.275);
						}
					}
					
					.total-due {
						margin-top: calc(0.3rem * 1.275);
						
						p {
							font-size: calc(1rem * 1.275);
							padding: calc(0.7rem * 1.275) calc(1rem * 1.275);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							.action-button {
								height: calc(60px * 1.275);
								line-height: calc(60px * 1.275);
								font-size: calc(1.05rem * 1.275);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			height: calc(60px * 1.275);
			
			.action-success {
				font-size: calc(1.1rem * 1.275);
			}
			
			.row-button {
				.button-payment {
					.button-item {
						.action-payment {
							font-size: calc(1.1rem * 1.275);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1708px) {
	.screen-main {
		.screen-header {
			height: calc(65px * 1.36);
			
			.screen-logo {
				a {
					img {
						width: calc(120px * 1.36);
					}
				}
			}
			
			.screen-time {
				padding: calc(10px * 1.36) 0;
				
				.time-top {
					margin-bottom: calc(0.2rem * 1.36);
					font-size: calc(0.95rem * 1.36);
				}
				
				.time-bottom {
					font-size: calc(0.8rem * 1.36);
				}
			}
			
			.screen-customer {
				a {
					height: calc(34px * 1.36);
					line-height: calc(34px * 1.36);
					padding: 0 calc(15px * 1.36);
					font-size: calc(0.8rem * 1.36);
				}
			}
		}
		
		.screen-inner {
			.screen-overflow {
				&::-webkit-scrollbar {
					width: calc(5px * 1.36);
				}
			}
			
			.screen-service {
				.service-ticket {
					&.ticket-title {
						font-size: calc(.9rem * 1.36);
						height: calc(2.2rem * 1.36);
					}
				}
				
				.ticket-row {
					max-height: calc(100vh - 125px - 2.5rem * 1.36);
					
					&::-webkit-scrollbar {
						width: calc(5px * 1.36);
					}
					
					.ticket-item {
						font-size: calc(.85rem * 1.36);
						padding: calc(.3rem * 1.36) 0;
						
						.col-service {
							.service-name {
								margin-bottom: calc(0.4rem * 1.36);
							}
							
							.service-price {
								input.form-control {
									height: calc(34px * 1.36);
									line-height: calc(34px * 1.36);
									font-size: calc(.8rem * 1.36);
									padding-left: calc(5px * 1.36);
									padding-right: calc(5px * 1.36);
									max-width: calc(80px * 1.36);
								}
								
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									height: calc(34px * 1.36);
									line-height: calc(34px * 1.36);
									font-size: calc(.8rem * 1.36);
									padding-left: calc(10px * 1.36);
									padding-right: calc(25px * 1.36);
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								height: calc(24px * 1.36);
								line-height: calc(24px * 1.36);
								font-size: calc(.85rem * 1.36);
							}
						}
						
						.col-action {
							.action-add,
							.action-noadd {
								height: calc(24px * 1.36);
								line-height: calc(24px * 1.36);
								font-size: calc(.85rem * 1.36);
							}
						}
					}
				}
			}
			
			.screen-order {
				.row-order {
					.title-order {
						height: calc(2.2rem * 1.36);
						font-size: calc(0.9rem * 1.36);
					}
					
					.list-order {
						ul {
							max-height: calc(61px * 3.05 * 1.36);
							
							&::-webkit-scrollbar {
								width: calc(5px * 1.36);
							}
							
							li {
								.order-item {
									padding: calc(0.5rem * 1.36);
									
									.order-col-left {
										.order-row-service {
											font-size: calc(0.85rem * 1.36);
											margin-bottom: calc(0.42rem * 1.36);
										}
										
										.order-row-staff {
											font-size: calc(0.8rem * 1.36);
										}
									}
									
									.order-col-middle {
										padding: 0 calc(15px * 1.36);
										
										.order-row-price {
											font-size: calc(0.85rem * 1.36);
											margin-bottom: calc(0.2rem * 1.36);
										}
										
										.order-row-tip {
											.action-add {
												line-height: calc(24px * 1.36);
												height: calc(24px * 1.36);
												font-size: calc(0.85rem * 1.36);
											}
										}
									}
									
									.order-col-right {
										.action-undo {
											line-height: calc(24px * 1.36);
											height: calc(24px * 1.36);
											font-size: calc(0.85rem * 1.36);
										}
									}
								}
							}
						}
					}
				}
				
				.row-fixed {
					bottom: calc(60px * 1.36);
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: calc(0.95rem * 1.36);
							padding: calc(0.35rem * 1.36) calc(0.8rem * 1.36);
						}
					}
					
					.total-due {
						margin-top: calc(0.3rem * 1.36);
						
						p {
							font-size: calc(1rem * 1.36);
							padding: calc(0.7rem * 1.36) calc(1rem * 1.36);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							.action-button {
								height: calc(60px * 1.36);
								line-height: calc(60px * 1.36);
								font-size: calc(1.05rem * 1.36);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			height: calc(60px * 1.36);
			
			.action-success {
				font-size: calc(1.1rem * 1.36);
			}
			
			.row-button {
				.button-payment {
					.button-item {
						.action-payment {
							font-size: calc(1.1rem * 1.36);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1822px) {
	.screen-main {
		.screen-header {
			height: calc(65px * 1.53);
			
			.screen-logo {
				a {
					img {
						width: calc(120px * 1.53);
					}
				}
			}
			
			.screen-time {
				padding: calc(10px * 1.53) 0;
				
				.time-top {
					margin-bottom: calc(0.2rem * 1.53);
					font-size: calc(0.95rem * 1.53);
				}
				
				.time-bottom {
					font-size: calc(0.8rem * 1.53);
				}
			}
			
			.screen-customer {
				a {
					height: calc(34px * 1.53);
					line-height: calc(34px * 1.53);
					padding: 0 calc(15px * 1.53);
					font-size: calc(0.8rem * 1.53);
				}
			}
		}
		
		.screen-inner {
			.screen-overflow {
				&::-webkit-scrollbar {
					width: calc(5px * 1.53);
				}
			}
			
			.screen-service {
				.service-ticket {
					&.ticket-title {
						font-size: calc(.9rem * 1.53);
						height: calc(2.2rem * 1.53);
					}
				}
				
				.ticket-row {
					max-height: calc(100vh - 125px - 2.5rem * 1.53);
					
					&::-webkit-scrollbar {
						width: calc(5px * 1.53);
					}
					
					.ticket-item {
						font-size: calc(.85rem * 1.53);
						padding: calc(.3rem * 1.53) 0;
						
						.col-service {
							.service-name {
								margin-bottom: calc(0.4rem * 1.53);
							}
							
							.service-price {
								input.form-control {
									height: calc(34px * 1.53);
									line-height: calc(34px * 1.53);
									font-size: calc(.8rem * 1.53);
									padding-left: calc(5px * 1.53);
									padding-right: calc(5px * 1.53);
									max-width: calc(80px * 1.53);
								}
								
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									height: calc(34px * 1.53);
									line-height: calc(34px * 1.53);
									font-size: calc(.8rem * 1.53);
									padding-left: calc(10px * 1.53);
									padding-right: calc(25px * 1.53);
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								height: calc(24px * 1.53);
								line-height: calc(24px * 1.53);
								font-size: calc(.85rem * 1.53);
							}
						}
						
						.col-action {
							.action-add,
							.action-noadd {
								height: calc(24px * 1.53);
								line-height: calc(24px * 1.53);
								font-size: calc(.85rem * 1.53);
							}
						}
					}
				}
			}
			
			.screen-order {
				.row-order {
					.title-order {
						height: calc(2.2rem * 1.53);
						font-size: calc(0.9rem * 1.53);
					}
					
					.list-order {
						ul {
							max-height: calc(61px * 3.05 * 1.53);
							
							&::-webkit-scrollbar {
								width: calc(5px * 1.53);
							}
							
							li {
								.order-item {
									padding: calc(0.5rem * 1.53);
									
									.order-col-left {
										.order-row-service {
											font-size: calc(0.85rem * 1.53);
											margin-bottom: calc(0.42rem * 1.53);
										}
										
										.order-row-staff {
											font-size: calc(0.8rem * 1.53);
										}
									}
									
									.order-col-middle {
										padding: 0 calc(15px * 1.53);
										
										.order-row-price {
											font-size: calc(0.85rem * 1.53);
											margin-bottom: calc(0.2rem * 1.53);
										}
										
										.order-row-tip {
											.action-add {
												line-height: calc(24px * 1.53);
												height: calc(24px * 1.53);
												font-size: calc(0.85rem * 1.53);
											}
										}
									}
									
									.order-col-right {
										.action-undo {
											line-height: calc(24px * 1.53);
											height: calc(24px * 1.53);
											font-size: calc(0.85rem * 1.53);
										}
									}
								}
							}
						}
					}
				}
				
				.row-fixed {
					bottom: calc(60px * 1.53);
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: calc(0.95rem * 1.53);
							padding: calc(0.35rem * 1.53) calc(0.8rem * 1.53);
						}
					}
					
					.total-due {
						margin-top: calc(0.3rem * 1.53);
						
						p {
							font-size: calc(1rem * 1.53);
							padding: calc(0.7rem * 1.53) calc(1rem * 1.53);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							.action-button {
								height: calc(60px * 1.53);
								line-height: calc(60px * 1.53);
								font-size: calc(1.05rem * 1.53);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			height: calc(60px * 1.53);
			
			.action-success {
				font-size: calc(1.1rem * 1.53);
			}
			
			.row-button {
				.button-payment {
					.button-item {
						.action-payment {
							font-size: calc(1.1rem * 1.53);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 2050px) {
	.screen-main {
		.screen-header {
			height: calc(65px * 2.03);
			
			.screen-logo {
				a {
					img {
						width: calc(120px * 2.03);
					}
				}
			}
			
			.screen-time {
				padding: calc(10px * 2.03) 0;
				
				.time-top {
					margin-bottom: calc(0.2rem * 2.03);
					font-size: calc(0.95rem * 2.03);
				}
				
				.time-bottom {
					font-size: calc(0.8rem * 2.03);
				}
			}
			
			.screen-customer {
				a {
					height: calc(34px * 2.03);
					line-height: calc(34px * 2.03);
					padding: 0 calc(15px * 2.03);
					font-size: calc(0.8rem * 2.03);
				}
			}
		}
		
		.screen-inner {
			.screen-overflow {
				&::-webkit-scrollbar {
					width: calc(5px * 2.03);
				}
			}
			
			.screen-service {
				.service-ticket {
					&.ticket-title {
						font-size: calc(.9rem * 2.03);
						height: calc(2.2rem * 2.03);
					}
				}
				
				.ticket-row {
					max-height: calc(100vh - 125px - 2.5rem *2.03);
					
					&::-webkit-scrollbar {
						width: calc(5px * 2.03);
					}
					
					.ticket-item {
						font-size: calc(.85rem * 2.03);
						padding: calc(.3rem * 2.03) 0;
						
						.col-service {
							.service-name {
								margin-bottom: calc(0.4rem * 2.03);
							}
							
							.service-price {
								input.form-control {
									height: calc(34px * 2.03);
									line-height: calc(34px * 2.03);
									font-size: calc(.8rem * 2.03);
									padding-left: calc(5px * 2.03);
									padding-right: calc(5px * 2.03);
									max-width: calc(80px * 2.03);
								}
								
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									height: calc(34px * 2.03);
									line-height: calc(34px * 2.03);
									font-size: calc(.8rem * 2.03);
									padding-left: calc(10px * 2.03);
									padding-right: calc(25px * 2.03);
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								height: calc(24px * 2.03);
								line-height: calc(24px * 2.03);
								font-size: calc(.85rem * 2.03);
							}
						}
						
						.col-action {
							.action-add,
							.action-noadd {
								height: calc(24px * 2.03);
								line-height: calc(24px * 2.03);
								font-size: calc(.85rem * 2.03);
							}
						}
					}
				}
			}
			
			.screen-order {
				.row-order {
					.title-order {
						height: calc(2.2rem * 2.03);
						font-size: calc(0.9rem * 2.03);
					}
					
					.list-order {
						ul {
							max-height: calc(61px * 3.05 * 2.03);
							
							&::-webkit-scrollbar {
								width: calc(5px * 2.03);
							}
							
							li {
								.order-item {
									padding: calc(0.5rem * 2.03);
									
									.order-col-left {
										.order-row-service {
											font-size: calc(0.85rem * 2.03);
											margin-bottom: calc(0.42rem * 2.03);
										}
										
										.order-row-staff {
											font-size: calc(0.8rem * 2.03);
										}
									}
									
									.order-col-middle {
										padding: 0 calc(15px * 2.03);
										
										.order-row-price {
											font-size: calc(0.85rem * 2.03);
											margin-bottom: calc(0.2rem * 2.03);
										}
										
										.order-row-tip {
											.action-add {
												line-height: calc(24px * 2.03);
												height: calc(24px * 2.03);
												font-size: calc(0.85rem * 2.03);
											}
										}
									}
									
									.order-col-right {
										.action-undo {
											line-height: calc(24px * 2.03);
											height: calc(24px * 2.03);
											font-size: calc(0.85rem * 2.03);
										}
									}
								}
							}
						}
					}
				}
				
				.row-fixed {
					bottom: calc(60px * 2.03);
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: calc(0.95rem * 2.03);
							padding: calc(0.35rem * 2.03) calc(0.8rem * 2.03);
						}
					}
					
					.total-due {
						margin-top: calc(0.3rem * 2.03);
						
						p {
							font-size: calc(1rem * 2.03);
							padding: calc(0.7rem * 2.03) calc(1rem * 2.03);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							.action-button {
								height: calc(60px * 2.03);
								line-height: calc(60px * 2.03);
								font-size: calc(1.05rem * 2.03);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			height: calc(60px * 2.03);
			
			.action-success {
				font-size: calc(1.1rem * 2.03);
			}
			
			.row-button {
				.button-payment {
					.button-item {
						.action-payment {
							font-size: calc(1.1rem * 2.03);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 2733px) {
	.screen-main {
		.screen-header {
			height: calc(65px * 3.05);
			
			.screen-logo {
				a {
					img {
						width: calc(120px * 3.05);
					}
				}
			}
			
			.screen-time {
				padding: calc(10px * 3.05) 0;
				
				.time-top {
					margin-bottom: calc(0.2rem * 3.05);
					font-size: calc(0.95rem * 3.05);
				}
				
				.time-bottom {
					font-size: calc(0.8rem * 3.05);
				}
			}
			
			.screen-customer {
				a {
					height: calc(34px * 3.05);
					line-height: calc(34px * 3.05);
					padding: 0 calc(15px * 3.05);
					font-size: calc(0.8rem * 3.05);
				}
			}
		}
		
		.screen-inner {
			.screen-overflow {
				&::-webkit-scrollbar {
					width: calc(5px * 3.05);
				}
			}
			
			.screen-service {
				.service-ticket {
					&.ticket-title {
						font-size: calc(.9rem * 3.05);
						height: calc(2.2rem * 3.05);
					}
				}
				
				.ticket-row {
					max-height: calc(100vh - 125px - 2.5rem * 3.05);
					
					&::-webkit-scrollbar {
						width: calc(5px * 3.05);
					}
					
					.ticket-item {
						font-size: calc(.85rem * 3.05);
						padding: calc(.3rem * 3.05) 0;
						
						.col-service {
							.service-name {
								margin-bottom: calc(0.4rem * 3.05);
							}
							
							.service-price {
								input.form-control {
									height: calc(34px * 3.05);
									line-height: calc(34px * 3.05);
									font-size: calc(.8rem * 3.05);
									padding-left: calc(5px * 3.05);
									padding-right: calc(5px * 3.05);
									max-width: calc(80px * 3.05);
								}
								
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									height: calc(34px * 3.05);
									line-height: calc(34px * 3.05);
									font-size: calc(.8rem * 3.05);
									padding-left: calc(10px * 3.05);
									padding-right: calc(25px * 3.05);
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								height: calc(24px * 3.05);
								line-height: calc(24px * 3.05);
								font-size: calc(.85rem * 3.05);
							}
						}
						
						.col-action {
							.action-add,
							.action-noadd {
								height: calc(24px * 3.05);
								line-height: calc(24px * 3.05);
								font-size: calc(.85rem * 3.05);
							}
						}
					}
				}
			}
			
			.screen-order {
				.row-order {
					.title-order {
						height: calc(2.2rem * 3.05);
						font-size: calc(0.9rem * 3.05);
					}
					
					.list-order {
						ul {
							max-height: calc(61px * 3.05 * 3.05);
							
							&::-webkit-scrollbar {
								width: calc(5px * 3.05);
							}
							
							li {
								.order-item {
									padding: calc(0.5rem * 3.05);
									
									.order-col-left {
										.order-row-service {
											font-size: calc(0.85rem * 3.05);
											margin-bottom: calc(0.42rem * 3.05);
										}
										
										.order-row-staff {
											font-size: calc(0.8rem * 3.05);
										}
									}
									
									.order-col-middle {
										padding: 0 calc(15px * 3.05);
										
										.order-row-price {
											font-size: calc(0.85rem * 3.05);
											margin-bottom: calc(0.2rem * 3.05);
										}
										
										.order-row-tip {
											.action-add {
												line-height: calc(24px * 3.05);
												height: calc(24px * 3.05);
												font-size: calc(0.85rem * 3.05);
											}
										}
									}
									
									.order-col-right {
										.action-undo {
											line-height: calc(24px * 3.05);
											height: calc(24px * 3.05);
											font-size: calc(0.85rem * 3.05);
										}
									}
								}
							}
						}
					}
				}
				
				.row-fixed {
					bottom: calc(60px * 3.05);
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: calc(0.95rem * 3.05);
							padding: calc(0.35rem * 3.05) calc(0.8rem * 3.05);
						}
					}
					
					.total-due {
						margin-top: calc(0.3rem * 3.05);
						
						p {
							font-size: calc(1rem * 3.05);
							padding: calc(0.7rem * 3.05) calc(1rem * 3.05);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							.action-button {
								height: calc(60px * 3.05);
								line-height: calc(60px * 3.05);
								font-size: calc(1.05rem * 3.05);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			height: calc(60px * 3.05);
			
			.action-success {
				font-size: calc(1.1rem * 3.05);
			}
			
			.row-button {
				.button-payment {
					.button-item {
						.action-payment {
							font-size: calc(1.1rem * 3.05);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 4100px) {
	.screen-main {
		.screen-header {
			height: calc(65px * 3.8);
			
			.screen-logo {
				a {
					img {
						width: calc(120px * 3.8);
					}
				}
			}
			
			.screen-time {
				padding: calc(10px * 3.8) 0;
				
				.time-top {
					margin-bottom: calc(0.2rem * 3.8);
					font-size: calc(0.95rem * 3.8);
				}
				
				.time-bottom {
					font-size: calc(0.8rem * 3.8);
				}
			}
			
			.screen-customer {
				a {
					height: calc(34px * 3.8);
					line-height: calc(34px * 3.8);
					padding: 0 calc(15px * 3.8);
					font-size: calc(0.8rem * 3.8);
				}
			}
		}
		
		.screen-inner {
			.screen-overflow {
				&::-webkit-scrollbar {
					width: calc(5px * 3.8);
				}
			}
			
			.screen-service {
				.service-ticket {
					&.ticket-title {
						font-size: calc(.9rem * 3.8);
						height: calc(2.2rem * 3.8);
					}
				}
				
				.ticket-row {
					max-height: calc(100vh - 125px - 2.5rem * 3.8);
					
					&::-webkit-scrollbar {
						width: calc(5px * 3.8);
					}
					
					.ticket-item {
						font-size: calc(.85rem * 3.8);
						padding: calc(.3rem * 3.8) 0;
						
						.col-service {
							.service-name {
								margin-bottom: calc(0.4rem * 3.8);
							}
							
							.service-price {
								input.form-control {
									height: calc(34px * 3.8);
									line-height: calc(34px * 3.8);
									font-size: calc(.8rem * 3.8);
									padding-left: calc(5px * 3.8);
									padding-right: calc(5px * 3.8);
									max-width: calc(80px * 3.8);
								}
								
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									height: calc(34px * 3.8);
									line-height: calc(34px * 3.8);
									font-size: calc(.8rem * 3.8);
									padding-left: calc(10px * 3.8);
									padding-right: calc(25px * 3.8);
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								height: calc(24px * 3.8);
								line-height: calc(24px * 3.8);
								font-size: calc(.85rem * 3.8);
							}
						}
						
						.col-action {
							.action-add,
							.action-noadd {
								height: calc(24px * 3.8);
								line-height: calc(24px * 3.8);
								font-size: calc(.85rem * 3.8);
							}
						}
					}
				}
			}
			
			.screen-order {
				.row-order {
					.title-order {
						height: calc(2.2rem * 3.8);
						font-size: calc(0.9rem * 3.8);
					}
					
					.list-order {
						ul {
							max-height: calc(61px * 3.8 * 3.8);
							
							&::-webkit-scrollbar {
								width: calc(5px * 3.8);
							}
							
							li {
								.order-item {
									padding: calc(0.5rem * 3.8);
									
									.order-col-left {
										.order-row-service {
											font-size: calc(0.85rem * 3.8);
											margin-bottom: calc(0.42rem * 3.8);
										}
										
										.order-row-staff {
											font-size: calc(0.8rem * 3.8);
										}
									}
									
									.order-col-middle {
										padding: 0 calc(15px * 3.8);
										
										.order-row-price {
											font-size: calc(0.85rem * 3.8);
											margin-bottom: calc(0.2rem * 3.8);
										}
										
										.order-row-tip {
											.action-add {
												line-height: calc(24px * 3.8);
												height: calc(24px * 3.8);
												font-size: calc(0.85rem * 3.8);
											}
										}
									}
									
									.order-col-right {
										.action-undo {
											line-height: calc(24px * 3.8);
											height: calc(24px * 3.8);
											font-size: calc(0.85rem * 3.8);
										}
									}
								}
							}
						}
					}
				}
				
				.row-fixed {
					bottom: calc(60px * 3.8);
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: calc(0.95rem * 3.5);
							padding: calc(0.35rem * 3.8) calc(0.8rem * 3.8);
						}
					}
					
					.total-due {
						margin-top: calc(0.3rem * 3.8);
						
						p {
							font-size: calc(1rem * 3.8);
							padding: calc(0.7rem * 3.8) calc(1rem * 3.8);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							.action-button {
								height: calc(60px * 3.8);
								line-height: calc(60px * 3.8);
								font-size: calc(1.05rem * 3.8);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			height: calc(60px * 3.8);
			
			.action-success {
				font-size: calc(1.1rem * 3.8);
			}
			
			.row-button {
				.button-payment {
					.button-item {
						.action-payment {
							font-size: calc(1.1rem * 3.8);
						}
					}
				}
			}
		}
	}
}

